<%- include("header") -%>

<h2>This is about page</h2>

<p> Tech used javascript, nodejs, EJS to build todo multipage application,
     where you can add and delete you items.</p>

<%- include("footer") -%>




<!-- this is layout of this project -->