<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TO DO </title>
</head>
<body>

    <h1> <%= kindOfDay  %> Todo List</h1>
    <ul>
      

<%  for(var i=0 ;i<newListItems.length; i++){ %>
    <li> <%= newListItems[i]   %>  </li>
<%  }                                        %>

    </ul>

    <form action="/" method="post">
        <label>Enter Desc:   </label>
        <input type="text" name="newItem" placeholder="enter desc">
        <button type="submit" name="submit">Add</button>
    </form>

</body>
</html>